.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}


.has-fire-background {
    background-color: hsl(17, 93%, 53%);
    border: 1px solid #721EE3;
}

.has-grey-background {
    background-color: #AAAAAA;
    border: 1px #E3855E;
}